h1, h2 {
	text-align: center;
}

h2 {
  border-bottom: 1px solid rgb(200, 204, 200);
  padding-bottom: 8px;
}

.filtering-panel {
  padding-bottom: 10px; 
  margin-bottom: 10px; 
  border-bottom: 1px solid rgb(200, 204, 200);
}

.control-panel {
  margin-bottom: 15px;
}

.control-manager {
  min-height: 150px;
  margin-bottom: 20px;
  margin-left: -10;
  border: 1px solid rgb(200, 204, 200);
  padding: 5px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin-right: -10;
}

.modal-dialog.cloud-structure{
  width:90%;
  height: 90%;
}

.modal-content.cloud-structure{
  width:100%;
  height: 100%;
}

.single-line-text {
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline;
  white-space: nowrap;
}

.action-element {
  padding-top: 2px;
  cursor: pointer;
}

.action-text {
  cursor: pointer;
}

.row-hoverable {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.row-hoverable:hover {
  background: #f5f5f5;
}

.row-active {
  background-color: rgb(223, 240, 216);
}

.row-hoverable.row-active:hover {
  background-color: rgb(213, 230, 206);
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

#floatingCirclesG{
  position:relative;
  width:128px;
  height:128px;
  -moz-transform:scale(0.6);
  -webkit-transform:scale(0.6);
  -ms-transform:scale(0.6);
  -o-transform:scale(0.6);
  transform:scale(0.6);
}

.f_circleG{
  position:absolute;
  background-color:#FFFFFF;
  height:23px;
  width:23px;
  -moz-border-radius:12px;
  -moz-animation-name:f_fadeG;
  -moz-animation-duration:1.04s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-direction:linear;
  -webkit-border-radius:12px;
  -webkit-animation-name:f_fadeG;
  -webkit-animation-duration:1.04s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:linear;
  -ms-border-radius:12px;
  -ms-animation-name:f_fadeG;
  -ms-animation-duration:1.04s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-direction:linear;
  -o-border-radius:12px;
  -o-animation-name:f_fadeG;
  -o-animation-duration:1.04s;
  -o-animation-iteration-count:infinite;
  -o-animation-direction:linear;
  border-radius:12px;
  animation-name:f_fadeG;
  animation-duration:1.04s;
  animation-iteration-count:infinite;
  animation-direction:linear;
}

#frotateG_01{
left:0;
top:52px;
-moz-animation-delay:0.39s;
-webkit-animation-delay:0.39s;
-ms-animation-delay:0.39s;
-o-animation-delay:0.39s;
animation-delay:0.39s;
}

#frotateG_02{
left:15px;
top:15px;
-moz-animation-delay:0.52s;
-webkit-animation-delay:0.52s;
-ms-animation-delay:0.52s;
-o-animation-delay:0.52s;
animation-delay:0.52s;
}

#frotateG_03{
left:52px;
top:0;
-moz-animation-delay:0.65s;
-webkit-animation-delay:0.65s;
-ms-animation-delay:0.65s;
-o-animation-delay:0.65s;
animation-delay:0.65s;
}

#frotateG_04{
right:15px;
top:15px;
-moz-animation-delay:0.78s;
-webkit-animation-delay:0.78s;
-ms-animation-delay:0.78s;
-o-animation-delay:0.78s;
animation-delay:0.78s;
}

#frotateG_05{
right:0;
top:52px;
-moz-animation-delay:0.91s;
-webkit-animation-delay:0.91s;
-ms-animation-delay:0.91s;
-o-animation-delay:0.91s;
animation-delay:0.91s;
}

#frotateG_06{
right:15px;
bottom:15px;
-moz-animation-delay:1.04s;
-webkit-animation-delay:1.04s;
-ms-animation-delay:1.04s;
-o-animation-delay:1.04s;
animation-delay:1.04s;
}

#frotateG_07{
left:52px;
bottom:0;
-moz-animation-delay:1.17s;
-webkit-animation-delay:1.17s;
-ms-animation-delay:1.17s;
-o-animation-delay:1.17s;
animation-delay:1.17s;
}

#frotateG_08{
left:15px;
bottom:15px;
-moz-animation-delay:1.3s;
-webkit-animation-delay:1.3s;
-ms-animation-delay:1.3s;
-o-animation-delay:1.3s;
animation-delay:1.3s;
}

@-moz-keyframes f_fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-webkit-keyframes f_fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-ms-keyframes f_fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-o-keyframes f_fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@keyframes f_fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text { 
  font: 12px sans-serif; 
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
